.acerca {
  padding: 35px;
  font-size: xx-large;
}
.txt {
  position: absolute;
  top: 17%;
  left: 19%;
  transform: translate(2%);
  font-size: medium;
  font-size: 20px;
  white-space: pre-line;
  font-size: 0.6cm;

}

.container-card{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card{
  width: 300px;
  height: 320px;
  margin: 25px;
  padding: 0px;
  border: 2px solid #eeeeee;
  border-radius: 14px;
  margin-top: 220px;
  position: relative;
}

.card img{
  width: 100%;
  height: 100%;
}

.img1:hover {
  transform: scale(0.9);
  border-radius: 15px;
}

.img2:hover {
  transform: scale(0.9);
  border-radius: 15px;
}

.img3:hover {
  transform: scale(0.9);
  border-radius: 15px;
}
.acerca {
  text-align: center;
  display: grid;
}
.backnos{
  background-image: url(/assets/nosotros.png);
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

/*Responsive Texto*/

@media screen and (max-width:1200px){
  .txt {
    position: absolute;
    padding: 0px 20px;
    max-width: 750px;
    top: 17%;
    text-align: justify;
    font-size: 20px;
  }
}
@media screen and (max-width:768px){
  .txt{
    padding: 0px 20px;
    position: absolute;
    max-width:530px;
    top: 13%;
    text-align: justify;
    font-size: 18.7px;
    white-space: pre-line  
    
  }
}
  @media screen and (max-width:600px){
    .txt{
      top: 11%;
      position: absolute;
     max-width: 380px;
      padding: 0px 20px;
      text-align: justify;
      font-size: 17.2px;
      
    }
}

/*Responsive cards*/
@media screen and (max-width:1200px){
   .card, .card img{
  max-width: 750px;
  width: 200px;
  height: 190px;
  display: flex;
  flex-wrap: wrap;
  top: 50%;
  justify-content: center;

}
}
@media screen and (max-width:768px){ 
  .card, .card img{
    max-width: 550px;
    width: 190px;
    height: 190px;
    display: flex;
    flex-wrap: wrap;
    top: 50%;
    justify-content: center;
}
}
@media screen and (max-width:600x){
  .card, .card img{
    max-width: 300px;
    width: 100px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
  }
  }

